<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>renderMessage</name>
        <type>plugin</type>
        <creationDate>2017-01-23</creationDate>
        <lastUpdate>2023-07-18</lastUpdate>
        <author>Denis Chenu</author>
        <authorUrl>https://extensions.sondages.pro/</authorUrl>
        <supportUrl>https://support.sondages.pro/</supportUrl>
        <version>1.4.0</version>
        <license>GNU Affero General Public License v3.0</license>
        <description><![CDATA[Plugin helper for limesurvey : quick render a message to public user.]]></description>
    </metadata>
    <compatibility>
        <version>2.73</version>
        <version>3</version>
        <version>4</version>
        <version>5</version>
    </compatibility>
</config>
