<div class="alert alert-{{ message.type }} alert-dismissible fade in {{ message.extraclass }}">
    <button type="button" data-dismiss="alert" aria-label="{{ gT("Close") }}" class="close"><span aria-hidden="true">×</span></button>
    {{ message.message }}
</div>
